
page-login {
  
.scroll-content {
  margin-top: 0 !important;
  background-color: #578ebe;//#56CA96;
}


span {
  color: white;
}

ion-item {
  color: black !important;
  padding-left: 10px !important;
  margin-bottom: 10px;
  background-color: transparent !important;
  font-size: 0.9em;
}
 ::-webkit-input-placeholder {
  color: black !important;
}

.login-container {
  color: black;
  position: absolute;
  top: 0;
  padding: 10vw;
  text-align: center;
  width: 100%;  
  margin-top: 20%;
}

ion-button {
  opacity: 0.8;
}

  .list-md {  
      margin: 41px 15px 16px;
      margin-bottom: 16px;
  }
  .login-btn{   
    width: 100%; 
    background-color: color($colors,primary);
  }
  .card-header-md,.card-header-ios,.card-header-wp {    
        font-size: 2.6rem;
        color: #000000;    
    }
    .logo {
      // padding: .5em;
      //height: 10vh;
      height: 100px;      
      width: 50%;
      margin-left: 24% 
    }
    .text-input-md {
          padding-top: 8px;
          padding-bottom: 8px;
      }
}
