iddetailspopovermenu{

    .item-md
    {
        background-color: inherit;
        color:white;
    }
    .list-md {
	margin: -1px 0px 2px;
	background-color:color($colors,menu-dark);
	opacity: 0.8;
    }
}