iddetailspopovermenu{

    $popover-wp-width : 150px;
    $popover-md-width : 150px;   
    $popover-ios-width:	150px; 
    .item-md,.item-ios,.item-wp
    {
        background-color:color($colors,menu-dark);
        color:white;
    }
    .list-md,.list-ios,.list-wp {
        margin: -1px 0px 3px;
        background-color:white;
        opacity: 0.8;
    }
    a {
        color:white;
    }

    .label-md,.label-ios,.label-wp {
        margin: 8px;
        cursor: pointer;        
    }
    
}