investmentdemand{
    .list-md,.list-ios,.list-wp
    {
        margin: -1px 5px 6px;
        
    }
    .item-md,.item-md,.item-md
    {
        padding-left: 0px;
        border-bottom: 1px solid #dedede;
    }
    .list-md .item-block .item-inner{
        border-bottom:none;
    }
    .badge-md ,.badge-ios,.item-wp
    {
        border-radius: 20px;	
        padding: 10px 13px;
    }
    .item-md p,.item-ios p,.item-wp p
    {       
        white-space: normal;
    }
    #notification-button {            
        position: relative;
        width: 42px;
        top:1px;
        right: 1px;
        overflow: visible!important;
    }
    
    #notifications-badge {
        background-color: red;
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 100%;
        padding: 3px 8px !important;
    }

    #itemDetails.item{
        font-size: 13px;
        color: brown;
    }
}