idfiles{
    .list-header-md
    {
       margin-bottom: 0px;
    }
    .label-md,.label-ios,.label-wp{
        margin: 0px;
    }
    .list-header-md,.list-header-ios,.list-header-wp{
        padding-left: 0px;
    }
    .list-md + ion-list ion-list-header {
        margin-top: 3px;
    }
    .list-ios:not([inset]) + .list-ios:not([inset]) ion-list-header
    {
        margin-top: 3px;
    }
}