IDMainInfo{
    .item-md,.item-ios,.item-wp
    {
        border-bottom: 1px solid #dedede;
    }

   .item-md p , p{
	color: black;
	white-space: normal;
   }
   .label-ios,.label-md,.label-wp
   {
       white-space:normal; 
   }

}