<ion-menu [content]="Mycontent" id="menu-material">   
      <ion-content>
        <div class="menu-header">
            <div padding>
                <!-- <img class="user-avatar round" [src]="avatarImgUrl" (error)="avatarImgUrl"/> -->
                <img class="user-avatar round" src="assets/images/avatar.png">
                <h1 class="username">
                     Sachin Orpe<br/>
                     <small>{{username}}</small>
                </h1>
             </div>
        </div>
        <ion-list no-lines>
          <ion-item>
              <ion-label>Bussines Unit</ion-label>
              <ion-select [(ngModel)]="BUID">
                <ion-option *ngFor="let bu of BUList" value="{{bu.id}}">
                  {{bu.name}}
                </ion-option>         
              </ion-select>    
          </ion-item>
          <ion-item>
            <ion-label>Year</ion-label>
            <ion-select [(ngModel)]="selectedYear">
              <ion-option *ngFor="let y of YearList" value="{{y.ID}}">{{y.Name}}</ion-option>
            </ion-select>
           
          </ion-item>
          <!-- <hr> -->
          <button [ngClass]="m.active ? 'menu-md-background' : ''"
          menuClose="left" ion-item detail-none *ngFor="let m of pages" (click)="openPage(m)">
            <i class="{{m.icon}}"></i> 
            {{m.title}}
            <!-- <hr> -->
          </button>              

        </ion-list>
      </ion-content>
    
</ion-menu>
    
<ion-nav [root]="rootPage" #Mycontent swipeBackEnabled="false"></ion-nav>
    