// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import 'font-awesome';

.align-center {
  text-align: center;
}

.highlight {
  background-color: #f4f4f4;
}

.center {
  display: block;
  margin: 0 auto;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top-radius {
  border-radius: 10% 10% 0 0;
}

.bottom-radius {
  border-radius: 0 0 10% 10%;
}

.round {
  border-radius: 50%;
}

.transparent-header {
  // This is just to make the header transparent and button/icon with white color
  .toolbar-content,
  .back-button {
    color: white;
  }
  .toolbar-background,
  ion-navbar,
  ion-header {
    background: transparent !important;
    background-color: transparent !important;
  }
  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }
  .header-ios .toolbar-background-ios,
  .footer-ios .toolbar-background-ios {
    border: 0;
  }
  // ---
}

// Material Design Sidemenu
#menu-material {
  .menu-header {
    //background:#6DB3F2 url('../assets/images/material-design-background.png') no-repeat right top;
    background-image: url('../assets/images/material-design-background.jpg');
    background-size: cover;
    color: #121111;
    .name {
      font-weight: 500;
      margin-bottom: 3px;
    }
    .e-mail {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .username{
      font-size: 1.5em;
      color:white;
      margin-top:1rem;
    }
  }
  .user-avatar {
    // padding: .5em;
    height: 12vh;
  }
  h3,
  .label,
  {
    color: #121111;
  }
  ion-icon {
    color: #121111;
  }

  .menu-md-background{
    background-color:#eae9e9;
  }
  
  .list-md {
    margin: 0px;
  }

  .fa{
    padding-right: 20px;
  }

  .modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  button{
    border-top: 1px solid #bdbdbd;
  }
}